<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapStudio</title>
</head>
<body>
    <h1>Snap Studio</h1>
    <p>Your web-based photobooth is starting up.</p>
    <video id="camera" width="700" autoplay></video>

    <br></br>
    
    <button id="capture">
        Take Photo
    </button>

    <h2 id="timer"></h2>
    <h3>Your Preview:</h3>

    <canvas id="photo"></canvas>

    <script src="/static/script.js"></script>

</body>
</html>
